.head {
  margin-top: 100px;
  display: flex;
  align-items: center;
  width: 1760px;
  margin: 25px auto;
  height: 70px;
  border: 1.5px solid black;
  border-radius: 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  background-color: rgb(192, 189, 189);
}
.description {
  margin-left: 85px;
}
.typeApp {
  margin-left: 120px;
}
.typeBr {
  margin-left: 75px;
}
.status {
  margin-left: 83px;
}
.applicant {
  margin-left: 95px;
}
.address {
  margin-left: 278px;
}
.engineers {
  margin-left: 360px;
}
