.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 400px;
  height: 200px;
  border-radius: 10px;
  border: 2px solid black;
}
.description {
  width: auto;
  height: 150px;
}
.button {
  margin-top: 20px;
  align-self: center;
  width: 130px;
  height: 20px;
}
