.form {
  display: flex;
  flex-direction: row;
  align-items: center;
  border: 2px solid black;
  background-color: rgb(192, 189, 189);
  border-radius: 10px;
  margin: 10px;
}
.name {
  flex-basis: 200px;
  margin: 10px;
}
.manufacturer {
  flex-basis: 350px;
  margin: 10px;
}
.button {
  margin: 10px;
  width: 30px;
  height: 30px;
  transition: 0.5s;
}
.button:hover {
  color: cyan;
}
